.faq-container{
 margin: 100px 0px;
   
}
.faq-text{
   margin-bottom: 50px;
}


@media only screen and (max-width:600px) {
   .faq-container{
      margin: 50px 10px;
   }
   .faq{
      flex-direction: column-reverse;
   }
}