

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    /* background-color: black; */
}
.header-container .logo{
    font-size: 20px;
}
.nav-bar{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.nav-bar ul{
    display: flex;
    /* align-items: center;
    justify-content: center; */

}
.nav-bar ul li {
    list-style: none;
    padding: 5px 20px;
   

}
.nav-bar ul li a{
    text-decoration: none;
    color: #777777;
    font-size: 18px;
    
}
.register-btn{
    border: 1px solid #289BDE;
    border-radius: 3px;
    padding: 13px 33px;
    background-color: #fff;
    color: #289BDE;
    font-weight: bold;
    font-size: 16px;
}
.register-btn:hover{
    background-color: #289BDE;
    color: white;
}
.nav-bar ul li a:hover{
    font-weight: bold;
    text-decoration: underline;
}