

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    /* background-color: black; */
}
.header-container .logo{
    font-size: 20px;
}
.nav-bar{
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    /* background-color: ; */
}


.nav-bar  a{
    text-decoration: none;
    color: #777777;
    font-size: 18px; 
    padding: 0 30px;
    
}
.register-btn{
    border: 1px solid #289BDE;
    border-radius: 3px;
    padding: 8px 33px;
    background-color: #fff;
    color: #289BDE;
    font-weight: bold;
    font-size: 16px;
}
.register-btn:hover{
    background-color: #289BDE;
    color: white;
}
.nav-bar a:hover{
    color: #289BDE;
   
}

/* Mobile Device */
@media only screen and (max-width:600px) {
    .header-container{
        padding: 10px;
    }
    .logo{
        display: none;
    }
}