.courses-container{
    min-height: 100vh;
    margin:10px 100px;
    margin-bottom: 80px;
}
.courses-container h1{
    font-size: 45px;
    width: 520px;
    margin: 0 auto;
}
.course-container{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    grid-gap: 10px;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .courses-container{
        margin: 10px;
    }
    .courses-container h1{
        font-size: 1.7em;
        max-width: 100%;
        /* margin:40px 0px; */
    }
    .course-container{
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    
    }
}