.footer{
    height: 472px;
   background-color: #161616;
   color: white;
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
}
.icons{
    display: flex;

}
.icons i{
    margin: 10px 10px;
    font-size: 1.6rem;
    background-color: #183153;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
